{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Update a trick - {{ parent() }}
{% endblock %}

{% block body %}
    <h3>Update a trick</h3>

        {% form_theme form 'jquery.collection.html.twig' %}
        {{ form(form) }}



    <p>
        <a href="{{ path('view', {'slug': trick.slug}) }}" class="waves-effect black btn"><i class="material-icons left">arrow_back</i>
            Back to the trick
        </a>
    </p>

    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.images-collection, .videos-collection').collection({
            allow_up: false,
            allow_down: false,
            add: '<a href="#" class="waves-effect black add-field btn"><i class="material-icons">add</i></span></a>',
            remove: '<a href="#" class="waves-effect black add-field btn"><i class="material-icons">delete</i><span class="glyphicon glyphicon-trash"></span></a>'
        });
    </script>
{% endblock %}

