 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}SnowTricks - The snowboard tricks platform{% endblock %}</title>


        {% block stylesheets %}
            <!-- Compiled and minified CSS -->
            {% stylesheets 'bundles/app/materialize/css/materialize.min.css' filter='?cssrewrite, ?scssphp'
                            'bundles/app/materialize/css/style.css' filter='?cssrewrite, ?scssphp' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
</head>

    {% block nav %}
        {% include 'AppBundle:templates:navbar.html.twig' %}
    {% endblock nav %}


    {% if is_granted("ROLE_USER") %}
    <ul id="slide-out" class="side-nav">
        <li><div class="user-view">
                {% if app.user.profilePic is not null %}
                <img class="circle" src="{{ asset(app.user.profilePic.webPath) }}" style="width:50px;">
                    {% else %}
                        <img class="circle" src="{{ asset('uploads/img/avatar.png') }}" style="width:50px;">
                {% endif %}
                <span class="white-text name menu">{{ app.user.username }}</span>
                <span class="white-text email menu">{{ app.user.email }}</span>
            </div></li>
        <li><a href="{{ path('fos_user_profile_edit') }}" class="menu"><i class="material-icons">account_circle</i>Edit my profile</a></li>
        <li><div class="divider"></div></li>
        <li><a href="{{ path('fos_user_security_logout') }}" class="menu"><i class="material-icons">exit_to_app</i>Logout</a></li>
    </ul>
    {% endif %}


{% for message in app.session.flashbag.get('info') %}
{% include 'AppBundle:templates:session-flashbag.html.twig' %}
{% endfor %}

    <div class="container" id="content">
    {% block body %}

    {% endblock %}
    </div>

    {% block footer %}
        {% include 'AppBundle:templates:footer.html.twig' %}
    {% endblock footer %}

{% block javascripts %}

    {% javascripts  'bundles/app/materialize/js/jquery-3.2.1.min.js'  filter='?jsqueeze'
                    'bundles/app/materialize/js/materialize.min.js' filter='?jsqueeze'
                    'bundles/app/materialize/js/materializeLoad.js' filter='?jsqueeze'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

 </html>
