{% extends 'form_div_layout.html.twig' %}

{% block form_row -%}
    <div class="row{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="input-field col s12">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}


{#{% block file_widget %}
{% if 'file' == type %}
    <div class="file-field input-field">
        <div class="btn">
            File
            <input type="file" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
        </div>
            <input class="file-path validate" type="text">
        </div>
    </div>
{% else %}
    {{- parent() -}}
{% endif %}
    {% endblock file_widget %}#}


{% block form_widget_simple %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default(''))|trim}) -%}
    {% endif %}
    {{- parent() -}}
    {% if tooltip is defined %}
        <span class="material-icons dp48 tooltipped"
              data-position="bottom" data-delay="50" data-tooltip="{{ tooltip }}">error
        </span>
    {% endif %}
{% endblock form_widget_simple %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default(''))|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}


{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('waves-effect waves-light') ~ ' btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}


{%- block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ 'materialize-textarea')|trim}) %}
    {{ parent() }}
{%- endblock -%}


{%- block form_errors -%}
    {%- if errors|length > 0 -%}
            {%- for error in errors -%}
                <div class="row" style="padding-top:15px;">
                    <div class="col s12 m10 l10 offset-m1 offset-l1">
                        <div class="chip red alert">
                            <i class=" close material-icons right white-text">close</i>
                            <i class="material-icons white-text left" style="padding-top: 2px;">check_circle</i>
                            <h6 class="white-text">{{ error.message }}</h6>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}
