{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Delete a trick - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Delete a trick</h2>

    <p>
        Are you sure you want to delete the trick :  "{{ trick.name }}" ?
    </p>


    <form action="{{ path('delete', {'id': trick.id}) }}" method="post">
        <a href="{{ path('view', {'slug': trick.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to the trick
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Delete" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
