{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Update a trick - {{ parent() }}
{% endblock %}

{% block body %}

    <h3>Update a trick</h3>
    <div class="well">
        {% form_theme form 'jquery.collection.html.twig' %}
        {{ form(form) }}
    </div>

    <p>
        <a href="{{ path('view', {'slug': trick.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to the trick
        </a>
    </p>
    <label>Image displayed</label>

{% for trickImage in trick.images %}
       {% if trickImage.extension is null %}
           <p>No images displayed yet</p>
           {% else %}
    <img src="{{ asset(trickImage.webPath) }}" alt="{{ trickImage.alt}}" width="100" height="100">
       {% endif %}
{% endfor %}


    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.images-collection, .videos-collection').collection({
            allow_up: false,
            allow_down: false,
            add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>',
            remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>'
        });
    </script>
{% endblock %}

