{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Home - {{ parent() }}
{% endblock %}

{% block body %}
    {% for trick in tricks %}
        <div class="container">
        <h3>{{ trick.name }} <small>By {{ trick.author }}</small></h3>
        <h6>{{ trick.date|date("F jS \\a\\t g:ia") }}</h6>
        <p>{{ trick.description }}</p>
            <a href="#"><button type="button" class="btn btn-default">Show the trick</button></a>
        </div><!-- /.container -->
        <hr>
        {% endfor %}

{% endblock %}