{% extends "AppBundle::layout.html.twig" %}

{% block title %}

    {{ trick.name }} - {{ parent() }}

{% endblock %}

{% block body %}
    <div>
        {% if is_granted('ROLE_USER') %}
            <div class="fixed-action-btn horizontal">
                <a class="btn-floating btn-large  black">
                    <i class="large material-icons white-text">menu</i>
                </a>
                <ul>
                    <li><a href="{{ path('edit', {'id': trick.id}) }}" class="btn-floating light-blue accent-2"><i
                                    class="material-icons">edit</i></a></li>
                    <li><a href="{{ path('delete', {'id': trick.id}) }}" class="btn-floating red darken-1"><i
                                    class="material-icons">delete</i></a></li>
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="head">
        <h1 class="center-align">{{ trick.name }}</h1>
        {% for trickCategory in trick.categories %}
            <div class="row center-align">
                <div class="chip black white-text">
                    {{ trickCategory.name }}
                </div>
                <div class="chip black white-text">
                    {% if trick.author.profilePic is null %}
                    <img src="{{ asset('uploads/img/avatar.png') }}" alt="user-image">
                    {% else %}
                    <img src="{{ asset(trick.author.profilePic.webPath) }}"
                         alt="{{ trick.author.username }} profile picture">
                    {% endif %}
                    By {{ trick.author.username }}
                </div>
            </div>
        {% endfor %}
    </div>

                <div class="slider hide-on-small-only">
                <ul class="slides">

                    {% for trickImage in trick.images %}
                    {% if trickImage.alt is not null %}
                        <li>
                            <img src="{{ asset(trickImage.webPath) }}" width="300" height="300"
                                 alt="{{ trickImage.alt }}"> <!-- random image -->

                                {% endif %}
                                {% endfor %}

                        </li>
                </ul>
                </div>



        <div class="desc">
        <h4>Description :</h4>
        <p>{{ trick.description }}</p>
        </div>


        {% for trickVideo in trick.videos %}
            <h4>Learn more with vids :</h4>
            <div class="video-container">
                {{ trickVideo.videoUrl|raw }}
            </div>
        {% endfor %}
        <br><hr class="style12">
        <div class="row comment">
        <h5>React to this trick! Post a comment !</h5>
        {% if is_granted('ROLE_USER') == false %}
            <p>To post a comment, you must be logged in !</p>
            <p>
                <a href="{{ path('fos_user_security_login') }}" class="waves-effect black btn"><i class="material-icons left">subdirectory_arrow_right</i>
                    Login
                </a>
            </p>
            {% endif %}
        {% if is_granted('ROLE_USER') %}
            <div class="col s6">
            <div class="chip grey lighten-3 light grey-text">
                {% if app.user.profilePic is null %}
                <img src="{{ asset('uploads/img/avatar.png') }}" alt="user-image">
                {% else %}
                <img src="{{ asset(app.user.profilePic.webPath) }}"
                     alt="{{ app.user.username }} profile picture">
                {% endif %}
                you're about to comment as <b>{{ app.user.username }}</b>
            </div>

            {% form_theme form 'materializeLayout.html.twig' %}
            {{ form(form) }}
            </div>
            </div>
        {% endif %}

        {% if listComments.count == 0 %}
            <p class="center-align">// No comments yet for this trick \\</p>
        {% else %}
            {% for comments in listComments %}
            <div class="row">
                <div class="col s6">
                    <div class="card-panel grey lighten-5 z-depth-1 comment-card">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                {% if comments.author.profilePic is null %}
                                    <img src="{{ asset('uploads/img/avatar.png') }}" alt="user-image" width="50px" height="50px"
                                         style="border-radius:50%">
                                {% else %}
                                    <img src="{{ asset(comments.author.profilePic.webPath) }}"
                                         alt="{{ comments.author.profilePic.alt }}" width="50px" height="50px"
                                         style="border-radius:50%">
                                {% endif %}
                            </div>
                            <div class="col s10">
              <span class="black-text">
                  <h6><b>{{ comments.author }}</b> {{ comments.date|date("m-d-y \\a\\t g:ia") }}</h6>
                  {{ comments.content }}
              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    <div class="row">
        <div class="col s6">
        <ul class="pagination">

            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% if nbPages > 1 %}
                {% for p in range(1, nbPages) %}
                    <li{% if p == page %} class="active waves-effect"{% endif %}>
                        <a href="{{ path('view',{ slug : slug }) }}/{{ p }}">{{ p }}</a>
                    </li>

                {% endfor %}
            {% endif %}
        </ul>
        </div>
    </div>
{% endblock %}
