{% extends "AppBundle::layout.html.twig" %}

{% block title %}

            {{ trick.name }} - {{ parent() }}

{% endblock %}

{% block body %}

        <div class="container">
            <div class="col-md-6"><a href="{{ path('edit', {'id': trick.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{{ path('delete', {'id': trick.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></div>
            <h1>{{ trick.name }} by <small>{{ trick.author }}</small></h1>
            <p>Cat - ...</p>
            <h3>The {{ trick.name }} description</h3>
            <p>The {{ trick.date|date("F jS \\a\\t g:ia") }}</p>
            {# On vérifie qu'une image soit bien associée à l'annonce #}
  <h3>Image</h3>
            {% for images in trick.images %}
            <img src="{{ images.url }}" width="300" height="300" alt="{{ images.alt }}">
            {% endfor %}
<h3>Description :</h3>
<p>{{ trick.description }}</p>
<p>Video ...</p>

</div>
<div class="container">
<h3>Comments</h3>
{% for comments in trick.comments %}
    <p>Author : {{ comments.author }}</p>
    <p>Content : {{ comments.content }}</p>
    {% endfor %}

</div>
<h3>Add a comment</h3>
{{   form(form)  }}
</div>

{% endblock %}