{% trans_default_domain 'FOSUserBundle' %}

    <h3>My profile</h3>
    <div class="fos_user_user_show">
        <p><b>{{ 'profile.show.username'|trans }}</b>: {{ user.username }}</p>
        <p><b>{{ 'profile.show.email'|trans }}</b>: {{ user.email }}</p>
        {% if user.profilePic is  null %}
            <p><b>{{ 'Profile picture'|trans }}</b>: No personal profile picture added</p>
            {% else %}
                <p><b>{{ 'Profile picture'|trans }}</b>: <img class="img-responsive" src="{{ asset(user.profilePic.webPath) }}" width="50" height="50"></p>
        {% endif %}

        <a href="{{ path('homepage') }}" class="waves-effect black white-text btn">Back to home</a>

</div>
